.contact-content {
    
    .contact-grid{
    	display: flex;
    	flex-wrap: wrap;
    	padding: 50px 0;
    	@media (max-width: 767px){
    		padding:40px 0;
    	}
    }
    .contact-left {
    	padding-right: 60px;
    	@media (max-width: 767px){
    		padding-right: 0;
    		margin-bottom: 70px;
    	}
    	@media (max-width: 575px){
    		padding-right: 0;
    		margin-bottom: 50px;
    	}
        &__desc {
            font-family: "Open Sans", sans-serif !important;
            text-align: left;
            padding-top: 20px;
            margin-top: 20px;
            position: relative;
        }

        &__desc:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            border-top: 0.5px solid $color-primary;
            width: 38px;
        }

        &__smdesc {
            margin: 40px 0;
            @media (max-width: 767px){
    		margin: 20px 0;
    	}
        }
    }
    .contact-address {
        span {
            font-weight: 400;
            color: black;
            font-size: 1.7rem;
            font-family: "Open Sans", sans-serif;
        }
    }
    .contact-right{
    	margin: auto 0;
    	padding-left: 60px;
    	@media (max-width: 767px){
    		padding-left: 0;
    	}
    	&__input{
    		height: 40px;
    		font-size: 1.4rem;
    		border: none;
    		background-color: #f6f6f6;
    		margin-bottom: 25px;
    		font-family: "Open Sans", sans-serif;
    	}
    	&__input:focus,
    	&__txtarea:focus{
    		outline: none;
    		border: none;
    		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    	}
    	&__txtarea{
    		height: 100px;
    		border: none;
    		font-size: 1.4rem;
    		border: none;
    		background-color: #f6f6f6;
    		margin-bottom: 50px;
    		font-family: "Open Sans", sans-serif;
    		@media (max-width: 767px){
    		margin-bottom: 30px;
    	}
    	}
    }
}
.contact-map{
	width: 100%;
	height: 500px;
	filter: brightness(95%);
	@media (max-width: 767px){
    		height: 450px;
    	}
    	@media (max-width: 575px){
    		height: 380px;
    	}
    	@media (max-width: 480px){
    		height: 320px;
    	}
	iframe{
		height: 100%;
		width: 100%;

	}
}