.page-gallery {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 250px);

        @media (max-width: 991px) {
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(4, 300px);
        }

        @media (max-width: 575px) {
            display: block;
        }
    }
    &__item{
    	  @media (max-width: 575px) {
     	height: 400px;
     	
     }
      @media (max-width: 400px) {
     	height: 350px;
     	
     }
     @media (max-width: 350px) {
     	height: 300px;
     	
     }
    }

    &__link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        .page-gallery__img {
            width: 100%;
            height: 100%;
            background-position: center;
            object-fit: cover;
        }

    }

    &__link:after {
        content: "+";
        @include absoluteItemCenter;
        color: $color-white;
        top: 58%;
        z-index: 5;
        font-size: 5.5rem;
        transition: top 0.3s;
        visibility: hidden;
        transition: 0.3s;
        opacity: 0;
    }

    &__link:before {
        content: "";
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s;

    }

    &__item:hover {
        .page-gallery__link:after {
            top: 50%;
            transition: 0.3s;
            visibility: visible;
            opacity: 1;
        }

        .page-gallery__link:before {
            background-color: rgba(0, 0, 0, 0.7);
            transition: 0.3s;
        }
    }

}