.app{
    background-color: $color-white;
    margin-bottom:275px;
    z-index: 2;
}
// ---header
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);

    .header-nav {
        height: 80px;
        display: flex;
        align-items: center;
        @media (max-width: 490px) {
               height: 60px;
            }

        &__logo {
            .header-nav__logo-link {
                display: block;
            }
        }

        .header-nav__list {
            padding: 0;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            margin-right: -18px;

            @media (max-width: 992px) {
                display: block;
                position: fixed;
                top: 0;
                width: 321px;
                bottom: 0;
                height: 100vh;
                background-color: $color-black;
                right: 0px;
                text-align: right;
                padding: 100px 50px;
                right: -100%;
                transition: right 0.5s;
                margin-bottom: 0;

            }

            @media (max-width: 322px) {
                right: -150%;
            }

        }

        &__list.show {
            right: 0;
            transition: 0.3s;
        }

        &__item {
            margin-right: 37px;
            color: $color-white;
            font-size: 14px;
            font-weight: 100;
            font-family: "Open Sans", sans-serif;
            line-height: 1;
            cursor: pointer;

            @media (max-width: 992px) {
                margin-right: 0;
                font-size: 1.5rem;
                margin-bottom: 30px;
            }

            @media (max-width: 992px) {

                font-size: 1.4rem;

            }

            &-link {
                color: $color-white;
                font-size: 14px;
                font-weight: 100;
                font-family: "Open Sans", sans-serif;
                line-height: 0;

                @media (max-width: 992px) {

                    font-size: 1.4rem;

                }
            }

            &-link:hover {
                text-decoration: none;
                color: $color-primary;
            }

        }

        &__item.active {
            color: $color-primary !important;

            .header-nav__item-link {
                color: $color-primary !important;
            }
        }

        &__item:last-child {
            margin-right: 20px;

            @media (max-width: 992px) {
                margin-right: 0;
                margin-top: 45px;
            }

            .header-submenu__link {
                font-family: 'Playfair Display', serif;
            }

        }

        &__control {
            font-size: 3rem;
            color: $color-white;
            display: none;
            z-index: 2;

            @media (max-width: 992px) {
                display: flex;
                align-items: center;
            }

            .header-nav__control-show {
                display: none;

                @media (max-width: 992px) {
                    display: block;
                }
            }
        }
    }

    .show-submenu {
        position: relative;
    }

    .show-submenu:hover {
        .header-submenu {
            top: 46px;
            visibility: visible;
            transition: 0.4s;
            opacity: 1;
            display: block;
        }
    }

    .show-submenu:not(:hover) {
        .header-submenu {
            transition: 0.5s;
        }
    }

    .show-submenu:before {
        cursor: pointer;
        position: absolute;
        width: 100%;
        top: 9px;
        left: 0;
        height: 40px;
        content: "";
    }

    .header-submenu {
        position: absolute;
        background-color: $color-black;
        width: 178px;
        font-family: "Open Sans", sans-serif;
        left: -12px;
        top: 85px;
        transition: top 0.5s;
        visibility: hidden;
        opacity: 0;
        padding: 10px 0;

        @media (max-width: 992px) {
            position: static;
            visibility: hidden;
            width: auto;
            opacity: 0;
            margin-right: 0;
            font-family: 'Playfair Display', serif;
            display: none;

        }

        &__list {
            @media (max-width: 992px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
            }
        }

        &__item {
            padding: 13px 18px;

            @media (max-width: 992px) {
                padding: 10px 13px;

            }

            .header-submenu__link {
                color: $color-white;
                font-size: 1.4rem;
                right: 0;
                position: relative;
                transition: right 0.5s;
                font-weight: 400;

                @media (max-width: 992px) {
                    font-weight: 100;
                    color: $color-gray;
                }
            }

            .header-submenu__link:hover {
                color: $color-primary;
                right: -10px;
            }
        }
    }

    .header-submenu.w-auto {
        width: auto;

        .header-submenu__link:hover {
            right: 0;
        }
    }
}

// Fixed header
.header-fixed {
    transition: 0.3s;
    background-color: $color-white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

    .header-navbar {

        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    .header-nav__logo-white {
        display: none;
    }

    .header-nav__logo-default {
        display: block;
    }

    .header-nav__item {
        color: $color-black;

        @media (max-width: 992px) {
            color: $color-white;
        }
    }

    .header-nav__item.active {
        color: $color-primary;
    }

    .header-nav__item-link {
        color: $color-black;

        @media (max-width: 992px) {
            color: $color-white;
        }
    }

    .header-nav__control {
        color: $color-black;
    }
}

// ---main home
.home {
    padding-bottom: 70px;

    // Banner
    &-banner {
        position: relative;

        .home-banner__img {
            height: 90vh;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            

            @media (max-width: 992px) {
                height: 100vh;
            }
        }

        .home-banner__wrap {
            padding: 0;
            padding-top: 14.5%;
            z-index: 5;

            @media (max-width: 992px) {
                padding-top: 23%;
            }

            @media (max-width: 575px) {
                padding-top: 30%;
            }
            @media (max-width: 490px) {
                padding-top: 38%;
            }
        }

        .home-banner__btn {
            margin-top: 37px;
        }

    }

    // fix Slick
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slick-next {
        display: none !important;
    }

    .slick-prev {
        display: none !important;
    }

    .slick-arrow {
        display: none !important;
    }

    .slick-dots {
            bottom: 35px;
            left: 185px;
            width: auto;
    }
    .slick-dots li button::before{
        content: "";
        width: 18px;
        height: 5px;
        background-color: $color-black;
        opacity:1;
    }
    .slick-dots li.slick-active button::before{
        background-color: $color-white;
        opacity:1;
    }

    // end banner
    // service session
    &-service {
        &__desc {
            padding: 100px 0;
            font-family: "Open Sans", sans-serif;
        }

        &__grid {
            display: grid;
            grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
            grid-template-rows: 468px 375px 468px;
            grid-gap: 20px;

            @media (max-width: 1200px) {
                grid-template-columns: repeat(2, calc(50% - 10px));
                grid-template-rows: repeat(5, 350px);
                grid-row-gap: 20px;
                grid-column-gap: 20px;
            }

            @media (max-width: 575px) {
                grid-template-columns: 100%;
                grid-template-rows: repeat(9, 475px);
            }
            @media (max-width: 490px) {
                grid-template-rows: repeat(9, 380px);
            }
            @media (max-width: 400px) {
                grid-template-rows: repeat(9, 300px);
            }

            .home-service__label {
                position: absolute;
                bottom: 50px;
                left: 50px;
                color: $color-white;
                font-size: 2.4rem;
                opacity: 1;
                transition: 0.3s;
            }

            .home-service__card:nth-child(5) {
                height: 468px;
                background-color: #202020;

                @media (max-width: 1200px) {
                    height: 100%;
                }

                .img-card__content {
                    visibility: visible;
                    opacity: 1;
                }

                .img-card__img:before {
                    top: 20px;
                    right: 20px;
                    bottom: 20px;
                    left: 20px;
                    z-index: 2;
                    visibility: visible;
                }
            }

            .home-service__card:nth-child(8) {
                margin-top: calc(468px - 375px);
                height: 375px;

                @media (max-width: 1200px) {
                    height: 100%;
                    margin-top: 0;
                    width: calc(200% + 20px);
                }

                @media (max-width: 575px) {
                    width: 100%;
                }
            }

            .home-service__card:nth-of-type(8) {
                @media (max-width: 1200px) {
                    grid-row: 5;
                }
            }
        }

    }
}

// end home

// ---fotter
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    &-container {
        align-items: center;
    }

    background-color: #202020;

    &-content {
        padding: 50px 0;
    }

    &-left {
        @media (max-width: 992px) {
            margin-bottom: 35px;
        }
        @media (max-width: 575px) {
           display: block !important;
        }
    }

    .footer-weather {
        &__cencius {
            color: $color-white;
            align-items: center;

            i {
                font-size: 3rem;
                margin-right: 20px;
            }

            .footer-weather__number {
                font-size: 3.8rem;

                sup {
                    margin-left: 4px;
                    font-size: 50%;
                }
            }
        }
    }

    .footer-connect__social {
        margin-top: 25px;

        a {
            width: 30px;
            height: 30px;
            background-color: #323232;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
        }

        a:hover {
            background-color: $color-primary;
        }

        i {
            color: $color-white;
            font-size: 1.4rem;
        }
    }

    .footer-signup__mail {
        width: 100%;
        height: 40px;
        background-color: #323232;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .footer-signup__input {
            width: calc(100% - 80px);
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            outline: none;
            border: none;
            font-size: 1.4rem;
            color: #d1d2d3;
            padding-left: 10px;
        }

        .footer-signup__input:focus {
            outline: none;
            border: none;
        }

        .footer-signup__btn {
            width: 80px;
            padding: 0;
        }
    }

    .footer-widget {
        padding: 20px 0;
        background-color: $color-black;

        .footer-directional {
            @media (max-width: 992px) {
                margin-bottom: 25px;
            }
             @media (max-width: 490px) {
           text-align: center;
        }

            &__link {
                text-decoration: none;
                font-size: 1.4rem;
                color: $color-white;
                padding-right: 18px;
            }

            &__link:hover {
                color: $color-primary;
            }
        }

        .footer-auther {
            display: flex;
            font-family: "Open Sans", sans-serif;
            color: $color-white;
            padding:0;

            &__link {
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 100;
                color: $color-white;
                margin-right: 20px;
            }

            &__link:hover {
                color: $color-primary;
            }

            &__permission {
                font-size: 1.1rem;
                font-family: "Open Sans", sans-serif;

            }

        }
    }
}