
///color
$color-primary:#C19B76;
$color-white: #ffffff;
$color-gray:#85858A;
$color-black:#1C1C1C;

// font-size


// font-weight

.fw-200 {font-weight: 200;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}
.fw-900 {font-weight: 900;}

// break points
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;


