.location{
	.location-head{
		padding: 50px 0 40px 0;
		background-color: $color-white;
		text-align: center;
		@media (max-width: 992px) {
            padding: 30px 0;
        }

		&__desc{
			margin: 36px 0;
			font-family: "Open Sans", sans-serif;
		}
		&__smdesc{
			font-family: "Open Sans", sans-serif;
			color: $color-gray;
			@media (max-width: 767px) {
				display: block;
			}
		}
	}
	&-content{
		padding: 50px;
		background-color: #f6f6f6;
		@media (max-width: 767px) {
                padding: 30px;
        }
       
	}
	&-content__select{
		color: $color-primary;
		font-size: 1.3rem;
		margin-top: 40px;
		@media (max-width: 992px) {
            padding-bottom: 30px;
         }
		a{
			color: $color-primary;
			font-size: 1.6rem;
			position: relative;
			i{
				position: absolute;
				top: 3px;
				right: -20px;
				transition: right 0.5s;
			}
		}
		a:hover{
			i{
				right: -25px;
				transition: 0.5s;
			}
		}
	}


}